*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    background:linear-gradient(
        135deg,
        #dbeafe,
        #eff6ff,
        #bfdbfe);

    transition:.4s;
}

/* DARK MODE */

body.dark{

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155);
}

/* CARD */

.container{

    width:520px;
    max-width:100%;

    padding:40px;

    background:rgba(255,255,255,.95);

    border-radius:25px;

    box-shadow:
        0 10px 40px rgba(59,130,246,.15);

    position:relative;

    transition:.4s;
}

body.dark .container{

    background:#111827;

    color:white;
}

/* THEME BUTTON */

.theme-toggle{

    position:absolute;

    top:20px;
    right:20px;

    width:45px;
    height:45px;

    background:#3b82f6;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    cursor:pointer;
}

/* HEADER */

.project-title{

    text-align:center;

    margin-bottom:30px;
}

.logo{

    font-size:60px;

    color:#3b82f6;

    margin-bottom:15px;
}

.project-title h2{

    font-size:32px;

    margin-bottom:10px;
}

.project-title p{

    color:#64748b;
}

body.dark .project-title p{

    color:#cbd5e1;
}

/* INPUTS */

.input-group{

    position:relative;

    margin-bottom:20px;
}

.input-group input{

    width:100%;

    height:55px;

    padding:0 50px;

    border:2px solid #cbd5e1;

    border-radius:14px;

    background:#f8fafc;

    outline:none;

    font-size:15px;
}

body.dark .input-group input{

    background:#1f2937;

    border:2px solid #374151;

    color:white;
}

.input-group input:focus{

    border-color:#3b82f6;
}

/* ICONS */

.left-icon{

    position:absolute;

    left:18px;
    top:50%;

    transform:translateY(-50%);

    color:#3b82f6;
}

.toggle-password{

    position:absolute;

    right:18px;
    top:50%;

    transform:translateY(-50%);

    color:#3b82f6;

    cursor:pointer;
}

/* STRENGTH BAR */

.strength-bar{

    width:100%;

    height:10px;

    background:#d1d5db;

    border-radius:20px;

    overflow:hidden;
}

#strength-fill{

    width:0%;

    height:100%;

    transition:.4s;
}

#strength-text{

    margin-top:12px;

    margin-bottom:20px;

    font-weight:500;
}

/* BUTTONS */

button{

    width:100%;

    height:55px;

    border:none;

    border-radius:14px;

    background:#60a5fa;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:#3b82f6;
}

/* DIVIDER */

hr{

    margin:30px 0;

    border:none;

    height:1px;

    background:#d1d5db;
}

/* PASSWORD BOX */

.generated-box{

    margin-top:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px;

    border-radius:14px;

    background:#f8fafc;

    border:1px solid #cbd5e1;
}

body.dark .generated-box{

    background:#1f2937;

    border:1px solid #374151;
}

.copy-icon{

    color:#3b82f6;

    cursor:pointer;
}

#generatedPassword{

    word-break:break-all;
}

@media(max-width:600px){

    .container{

        padding:25px;
    }

    .project-title h2{

        font-size:26px;
    }

    .logo{

        font-size:50px;
    }
}
